# Installation des packages

In [1]:
!pip3 install linearmodels
import pandas as pd
import numpy as np
import linearmodels
from linearmodels.iv import IV2SLS

Defaulting to user installation because normal site-packages is not writeable
Collecting linearmodels
  Downloading linearmodels-5.4-cp39-cp39-macosx_10_9_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 2.7 MB/s eta 0:00:01
Requirement already satisfied: scipy>=1.5.0 in /Users/pierre/Library/Python/3.9/lib/python/site-packages (from linearmodels) (1.13.0)
Collecting mypy-extensions>=0.4
  Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Collecting setuptools-scm[toml]<9.0.0,>=8.0.0
  Downloading setuptools_scm-8.0.4-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 2.1 MB/s  eta 0:00:01
Collecting pyhdfe>=0.1
  Downloading pyhdfe-0.2.0-py3-none-any.whl (19 kB)
Collecting formulaic>=0.6.5
  Downloading formulaic-1.0.1-py3-none-any.whl (94 kB)
     |████████████████████████████████| 94 kB 4.5 MB/s  eta 0:00:01
Collecting statsmodels>=0.12.0
  Downloading statsmodels-0.14.1-cp39-cp39-macosx_10_9_x86_64.whl (10.6 MB)
     |████████████████████████████████| 10.6 MB 1.8 MB/s  eta 0:00:01
Requirement already satisfied: numpy>=1.22.0 in /Users/pierre/Library/Python/3.9/lib/python/site-packages (from linearmodels) (1.26.4)
Collecting Cython>=0.29.37
  Downloading Cython-3.0.10-cp39-cp39-macosx_10_9_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 13.8 MB/s eta 0:00:01
Requirement already satisfied: pandas>=1.3.0 in /Users/pierre/Library/Python/3.9/lib/python/site-packages (from linearmodels) (2.2.1)
Requirement already satisfied: wrapt>=1.0 in /Users/pierre/Library/Python/3.9/lib/python/site-packages (from formulaic>=0.6.5->linearmodels) (1.16.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/pierre/Library/Python/3.9/lib/python/site-packages (from formulaic>=0.6.5->linearmodels) (4.10.0)
Collecting interface-meta>=1.2.0
  Downloading interface_meta-1.3.0-py3-none-any.whl (14 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/pierre/Library/Python/3.9/lib/python/site-packages (from pandas>=1.3.0->linearmodels) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /Users/pierre/Library/Python/3.9/lib/python/site-packages (from pandas>=1.3.0->linearmodels) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /Users/pierre/Library/Python/3.9/lib/python/site-packages (from pandas>=1.3.0->linearmodels) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->linearmodels) (1.15.0)
Requirement already satisfied: setuptools in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from setuptools-scm[toml]<9.0.0,>=8.0.0->linearmodels) (58.0.4)
Requirement already satisfied: packaging>=20 in /Users/pierre/Library/Python/3.9/lib/python/site-packages (from setuptools-scm[toml]<9.0.0,>=8.0.0->linearmodels) (24.0)
Collecting tomli>=1
  Downloading tomli-2.0.1-py3-none-any.whl (12 kB)
Collecting patsy>=0.5.4
  Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
     |████████████████████████████████| 233 kB 10.4 MB/s eta 0:00:01
Installing collected packages: tomli, setuptools-scm, patsy, interface-meta, statsmodels, pyhdfe, mypy-extensions, formulaic, Cython, linearmodels
Successfully installed Cython-3.0.10 formulaic-1.0.1 interface-meta-1.3.0 linearmodels-5.4 mypy-extensions-1.0.0 patsy-0.5.6 pyhdfe-0.2.0 setuptools-scm-8.0.4 statsmodels-0.14.1 tomli-2.0.1
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.

# Importation des données

In [2]:
# On prend le dataset esge avec toutes les dates
esg_data = pd.read_csv('ESG_E.csv')
esg_data.head()

/var/folders/sn/kwj_5f7n6_z8qsmybhp8x7cm0000gp/T/ipykernel_8784/2631595158.py:2: DtypeWarning: Columns (1,2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  esg_data = pd.read_csv('ESG_E.csv')

,idEntreprise,2002-01,2002-02,2002-03,2002-04,2002-05,2002-06,2002-07,2002-08,2002-09,...,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04
0,1,"44,375","44,08888889","44,08627778","44,08371889","44,08121118","44,07875362","44,07634522","43,7962072","44,21611639",...,"60,4206142","57,30323449","56,92830124","56,94691093","57,36955728","56,37531796","55,29196737","55,42993636","55,71251352","56,08985466"
1,2,"40,90277778","40,63055556","40,64155556","40,65233556","40,66289996","40,67325307","40,40562134","40,42112002","40,43630873",...,"73,44261856","73,25716506","72,94483216","72,55042001","73,64794086","74,07164631","74,00185758","74,20052537","74,09938254","74,07640744"
2,3,"49,51388889","49,51388889","49,51388889","49,51388889","49,51388889","50,06944444","50,05833333","50,04744444","50,31455111",...,"74,65986533","74,65596497","74,96295978","75,13466786","75,37141777","75,02208314","75,16479506","75,54714096","75,36927013","75,09739596"
3,4,"38,57638889","38,57638889","38,57638889","38,57638889","38,57638889","38,57638889","38,57638889","38,57638889","38,57638889",...,"60,55539706","60,67762245","60,51962556","60,3647886","60,49082616","62,00323186","62,37427834","62,73790388","62,81647914","62,61570511"
4,5,"37,91666667","38,20833333","35,43861111","35,50206111","36,39757544","34,77517949","34,01856479","32,16597127","32,29487407",...,"53,46184228","53,79463351","53,77218636","53,82112083","54,07152963","54,23695602","55,12772167","55,16972037","54,98915515","54,85916779"

In [3]:
# On prend le score de comm environnemental que l'on a calculé
env_comm_score = pd.read_csv('env_comm_score.csv')
env_comm_score

    environmental_sentiment_score
0                        0.000000
1                        0.001267
2                       -0.025846
3                        0.000000
4                        0.000000
..                            ...
95                      -0.010920
96                      -0.010704
97                      -0.011534
98                       0.000000
99                       0.014246

[100 rows x 1 columns]

In [13]:
# Nb de lignes avec erreur: 1 sur 13000
covalence_id_firms = pd.read_csv('Universe_Listed_Covalence_31.07.2023_v2_updated.csv',sep=';',on_bad_lines='skip')
covalence_id_firms.head(10)

       Unnamed: 0  idEntreprise                                     Company  \
0               0             1                                  Pfizer Inc
1               1             2                              Merck & Co Inc
2               2             3                                     GSK plc
3               3             4                            Eli Lilly and Co
4               4             5                                    Bayer AG
...           ...           ...                                         ...
13294       13305         19682                    Talaris Therapeutics Inc
13295       13306         19683  Shenzhen Senior Technology Material Co Ltd
13296       13307         19684                            Vulcan Steel Ltd
13297       13308         19685                       Bangkok Insurance PCL
13298       13309         19686                               Hakuto Co Ltd

               ISIN                             GICS industry group  \
0      US7170811035  Pharmaceuticals, Biotechnology & Life Sciences
1      US58933Y1055  Pharmaceuticals, Biotechnology & Life Sciences
2      GB0009252882    Unable to resolve all requested identifiers.
3      US5324571083  Pharmaceuticals, Biotechnology & Life Sciences
4      DE000BAY0017  Pharmaceuticals, Biotechnology & Life Sciences
...             ...                                             ...
13294  US87410C1045  Pharmaceuticals, Biotechnology & Life Sciences
13295  CNE100002DP3                                       Materials
13296  AU0000181984                                       Materials
13297  TH0042010007                                       Insurance
13298  JP3766400000                 Technology Hardware & Equipment

                                  GICS sub-industry  \
0                                   Pharmaceuticals
1                                   Pharmaceuticals
2      Unable to resolve all requested identifiers.
3                                   Pharmaceuticals
4                                   Pharmaceuticals
...                                             ...
13294                                 Biotechnology
13295                           Commodity Chemicals
13296                                         Steel
13297                 Property & Casualty Insurance
13298                       Technology Distributors

                                Headquarters Region  \
0                                          Americas
1                                          Americas
2      Unable to resolve all requested identifiers.
3                                          Americas
4                                            Europe
...                                             ...
13294                                      Americas
13295                                          Asia
13296                                       Oceania
13297                                          Asia
13298                                          Asia

                               Headquarters Country
0                          United States of America
1                          United States of America
2      Unable to resolve all requested identifiers.
3                          United States of America
4                                           Germany
...                                             ...
13294                      United States of America
13295                                         China
13296                                   New Zealand
13297                                      Thailand
13298                                         Japan

[13299 rows x 8 columns]

# Manipulation des données

In [4]:
def get_user_date(start_date, end_date):
    # Prompt the user for a date
    user_date_str = input(f"Enter a date between {start_date} and {end_date} (format YYYY-MM): ")
    
    # Convert user input to a pandas Timestamp
    try:
        user_date = pd.to_datetime(user_date_str, format='%Y-%m')
        start_date = pd.to_datetime(start_date, format='%Y-%m')
        end_date = pd.to_datetime(end_date, format='%Y-%m')

        # Check if the date is within the range
        if start_date <= user_date <= end_date:
            print(f"Selected date: {user_date.strftime('%Y-%m')}")
            return user_date
        else:
            print("Date is out of range. Please try again.")
            return None
    except ValueError:
        print("Invalid date format. Please try again.")
        return None

# Example usage
get_user_date("2002-01", "2023-04")

Selected date: 2003-02

Timestamp('2003-02-01 00:00:00')

In [7]:
# On laisse l'utilisateur choisir une date
date_debut="2002-01"
date_fin="2023-04"
t = get_user_date(date_debut,date_fin)
t = pd.to_datetime(t, format='%Y-%m')
t_minus_1 = (t - pd.DateOffset(months=1)).strftime('%Y-%m')
print(t_minus_1)

# On recupère les scores des etp aux dates t et t-1
col_index = esg_data.columns.get_loc(t)
esge_t = esg_data.iloc[:, col_index]
col_index = esg_data.columns.get_loc(t_minus_1)
esge_t_minus_1 = esg_data.iloc[:, col_index]

Selected date: 2010-02
2010-01

KeyError: Timestamp('2010-02-01 00:00:00')

In [6]:
data = {
    'env_comm_score': env_comm_score, 
    'esge': esge_t
    'esge_past': esge_t_minus_1
    'esge_peer': np.random.uniform(0, 100, 100)  # 100 peer environmental scores in the same sector
}

df = pd.DataFrame(data)

# Show the first few rows of the DataFrame
print(df.head())

# Define your variables
dependent = df['env_comm_score']
independent = df[['const']]  # Assuming you've added a constant term to your DataFrame
instrument = df['esge_past']  # Instrumenting esge with its past value
endogenous = df['esge']  # The variable you believe is endogenous

# Setup and run the 2SLS regression
model = IV2SLS(dependent, independent, endogenous, instrument).fit()

# Print model summary
print(model.summary)

# To instrument 'esge' with both its past value and peer scores, you might do:
instrument2 = df[['esge_past', 'esge_peer']]
model2 = IV2SLS(dependent, independent, endogenous, instrument2).fit()
print(model2.summary)

SyntaxError: invalid syntax (712676834.py, line 4)